@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* faixa azul usada na pagina home*/
.faixa {
    animation: changeBackgroundColor 10s infinite;
    height: 10px;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
}

/* fim da faixa*/

/*classes usadas para todas as paginas */
.flex {
    display: flex;

}

.container-fluid {
    padding: 0;
}

/*fim das classes mundiais*/

/*estilo da nav usada em todas as paginas*/
.topo {
    width: 100%;
    height: 70px;
    animation: changeBackgroundColor 10s infinite;
}
.mae>a>.img-logo{
    height: 50px;
} 
.topo>.bi-person {
    margin-right: 20px;
    font-size: 35px;
}
.topo .mae2 ul,
.topo .mae2 li {
    margin-top: 0;

}

body .topo .mae a,
body .topo .mae a {
    margin-top: 6px;
    margin-left: 15px;
} 
 .topo>.mae {
    display: flex;
    justify-content: space-between;
} 

 .topo>.mae ul {
    list-style: none;
    display: inline-block;
    margin-top: 0;
}

.topo>.mae>.mae2>ul>li {
    display: inline-block;
}

.topo>.mae>.mae2>ul>li>a {
    font-size: 30px;
    background-size: cover;
    border: none;
    text-decoration: none;
    color: black;
}

.topo>.mae>.mae2>ul>li>a>.bi {
    font-size: 30px;
}

.topo>.mae>.mae2>ul>li>a>.bi2 {
    margin-right: 20px;
}

.topo>.mae>.mae2>ul>li {
    margin-top: 10px;
}

/*Fim do estilo da navbar

/* comeco da pagina de s.o.s */
.compras{
    padding-left: 20px;
}
.linha{
    display: flex;
    flex-direction: row;
}
.linha>div>i{
   font-size: 25px;
}
.linha>.so{
   padding-left: 40px;
}   
.container-centro div a{
    text-decoration: none;
    color: black;
}
.container-centro .linha:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}
.st{
    display: flex;
    justify-content: center;
}

/*fim da pagina s.o.s*/

/*card usado nos carrossels da pagina home*/
.ex {
    width: 90vw;
    height: 50vh;
    margin: auto;
    margin-top: 30px;
}

.card {
    max-width: 200px;
    animation: changeBackgroundColor 10s infinite;
    transition: 0.3s;
    margin: 10px;
}

.card a {
    text-decoration: none;
    color: black;
}

.card>a>img {
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    margin: auto;
    margin-top: 50px;
    width: 960px;
    max-width: 100%;
    padding: 2px 16px;
}

/* fim da estilização dos cards*/

/*inicio da estilização da pagina de produtos*/
.x{
    width: 70vw;
    background-color: #ffff;
    border-radius: 20px;
    margin-top: 20px;
}
.fundo{
    background-color: #ebebeb;
}

.direita{
    background-color: #3d7a99;
     border-radius: 20px;
}
.prob{
    max-width: 550px;
}
.temp2{
    margin-top: 30px;
}
.bi1,
.bi3{
    font-size: 40px;
    color: #00A217;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.linhac{
    width: 100%;
    border: 1px solid #202020;
    margin: 5px;
}
.btnc{
    background-color: #00A217;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
}
.b{
    text-align: end;
}
/*Fim da pagina de produtos*/

/*estilo do formulario de login/cadastro*/
.login {
    display: flex;
    height: 60vh;
    width: 25vw;
    margin: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
}
.log{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: changeBackgroundColor 10s infinite;
    height: 100vh;
    width: 100vw;
    margin: auto;
}
.c1{
    display: flex;
    justify-content: center;
}
.login .bi-person {
    font-size: 100px;
}

.login .bi-persond {
    padding-top: 30px;
}
body .login a {
    color: white;
    text-decoration: none;
}

.bi-search {
    font-size: 30px;
    padding-right: 0;
}

.bi-cart3,
.bi-search {
    margin-right: 15px;
}
.dupla{
    border-radius: 30px ;
}

/*fim do estilo do formulario*/

/*estilização do footer*/
.f1 {
    height: 40vh;
    width: 100%;
    animation: changeBackgroundColor 10s infinite;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

.f1 a {
    text-decoration: none;
    color: black;
}

.f1 .x1 {
    padding-bottom: 50px;
}

.f1 .x2 div {
    margin: 5px;
    margin-right: 5px;
}

.f1 .x2 .main {
    margin-bottom: 70px;
}
/*fim da estilização do footer*/

/*estilizacão de perfil*/
.icones{
    font-size: 25px;
}

.circular{
    border-radius: 120px;
    margin-bottom: 10px;
}
.container-centro{
    max-width: 70vw;
}
.container-centro>.pa{
  padding-top: 5px ;
}
.name{
    display: flex;
    align-items: center;
    
}
.temp{
    animation: changeBackgroundColor 10s infinite;
}
.barra{
    
}
/*fim da estilização de perfil*/

/*estilização dos botões e inputs*/
.senha {
    display: flex;
    flex-direction: column;
    
}
.ts {
    margin-top: 30px;
}

input[type=text] {
    width: 200px;
    border-radius: 30px;
    border: none;
    margin-bottom: 5px;
}

input[type=password] {
    width: 200px;
    border-radius: 30px;
    margin-top: 5px;
    border: none;
}

input[type=email] {
    width: 200px;
    border-radius: 30px;
    border: none;
}

input[type=submit] {
    border-radius: 30px;    
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
}
/*fim das estilizações de botões e input*/
/*efeito rgb usado em todas paginas */
@keyframes changeBackgroundColor {
    0% {
        background-color: #42678a;
    }

    25% {
        background-color: #3d7a99;
    }

    50% {
        background-color: #42678a;
    }

    75% {
        background-color: #3d7a99;
    }

    100% {
        background-color: #42678a;
    }
}
