@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* faixa azul usada na pagina home*/
.faixa {
    animation: changeBackgroundColor 10s infinite;
    height: 10px;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
}

.h2f {
    margin-left: 30px;
}

/* fim da faixa*/

/*classes usadas para todas as paginas */
.flex {
    display: flex;

}

.container-fluid {
    padding: 0;
}

/*fim das classes mundiais*/

/*estilo da nav usada em todas as paginas*/
.topo {
    width: 100%;
    height: 70px;
    animation: changeBackgroundColor 10s infinite;
}

.mae>a>.img-logo {
    height: 50px;
}

.topo>.bi-person {
    margin-right: 20px;
    font-size: 35px;
}

.topo .mae2 ul,
.topo .mae2 li {
    margin-top: 0;

}

body .topo .mae a,
body .topo .mae a {
    margin-top: 6px;
    margin-left: 15px;
}

.topo>.mae {
    display: flex;
    justify-content: space-between;
}

.topo>.mae ul {
    list-style: none;
    display: inline-block;
    margin-top: 0;
}

.topo>.mae>.mae2>ul>li {
    display: inline-block;
}

.topo>.mae>.mae2>ul>li>a {
    font-size: 30px;
    background-size: cover;
    border: none;
    text-decoration: none;
    color: black;
}

.topo>.mae>.mae2>ul>li>a>.bi {
    font-size: 30px;
}

.topo>.mae>.mae2>ul>li>a>.bi2 {
    margin-right: 20px;
}

.topo>.mae>.mae2>ul>li {
    margin-top: 10px;
}

/*Fim do estilo da navbar

/* comeco da pagina de s.o.s */
.sos {
    background-color: #ebebeb;
}

/* {} */
.c-sos {
    background-color: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
}

.st {
    font-size: 30px;
    align-items: center;
}

.r-card {
    padding: 10px;
}

.cd-sos {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

.linha>div>i {
    font-size: 40px;
}

.container-centro div a {
    text-decoration: none;
    color: black;
}

.container-centro:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

/*fim da pagina s.o.s*/

/*card usado nos carrossels da pagina home*/
.item>.card {
    max-width: 200px;
    animation: changeBackgroundColor 10s infinite;
    transition: 0.3s;
    margin: 10px;
    height: 390px;
}

.item>.card a {
    text-decoration: none;
    color: black;
}

.item>.card p {
    font-size: 25px;
    border-radius: 30px;
    font-weight: bolder;

}

.item>.card h5 {
    text-overflow: ellipsis;

}

.item>.card>a>img {
    border-radius: 5px;
    max-height: 198px;
}

.item>.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    margin-top: 10px;
    width: 960px;
    max-width: 100%;
}

.owl-item {
    max-width: 300px;
}
.item {
    max-width: 200px;
}
.tt .item {
    max-height: 175px;
}

/* fim da estilização dos cards*/

/*inicio da estilização da pagina de produtos*/
.x {
    background-color: #ffff;
    border-radius: 20px;
    margin-top: 10px;
    max-height: 550px;
}

.fundo {
    background-color: #ebebeb;
}

.direita {
    background-color: #3d7a99;
    border-radius: 20px;
    display: flex;
    max-height: 550px;
    flex-direction: column;
}

.l4 {
    justify-content: end;
    padding-bottom: 30px;
    padding-left: 15px;
}

.l3 {
    justify-content: end;
    flex-grow: 2;
    flex-direction: column;

}

.l2 {
    justify-content: start;

}

.l1 {
    justify-content: end;

}

.prob {
    max-width: 550px;
}

.temp2 {
    margin-top: 30px;
}

h5 {
    margin-bottom: 0;
}

.tes {
    display: flex;
}

.bi1,
.bi3 {
    font-size: 40px;
    color: #00A217;
    font-weight: bolder;
}

.linhac {
    width: 100%;
    border: 1px solid #202020;
    margin: 5px;
}

.btnc1 {
    margin-right: 10px;
}

.btnc1 .bi-cart3 {
    margin: 0;
}

.btnc1,
.btnc2 {
    background-color: #00A217;
    font-size: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #202020;
    justify-content: center;

}

.b {
    text-align: end;
}

.mini label {
    margin-bottom: 5px;
}

.col-6 {
    max-height: 600px;
}

/*Fim da pagina de produtos*/

/*estilo do formulario de login/cadastro*/
.login {
    display: flex;
    height: 60vh;
    width: 25vw;
    margin: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
}

.log {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: changeBackgroundColor 10s infinite;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

.c1 {
    display: flex;
    justify-content: center;
}

.login .bi-person {
    font-size: 100px;
}

.login .bi-persond {
    padding-top: 30px;
}

body .login a {
    color: white;
    text-decoration: none;
}

.bi-search {
    font-size: 30px;
    padding-right: 0;
}

.bi-cart3,
.bi-search {
    margin-right: 15px;
}

.dupla {
    border-radius: 30px;
}

/*fim do estilo do formulario*/

/*estilização do footer*/
.f1 {
    height: 40vh;
    width: 100vw;
    animation: changeBackgroundColor 10s infinite;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.f1 a {
    text-decoration: none;
    color: black;
}

.f1 .x2 div {
    margin: 5px;
    margin-right: 5px;
}

/*fim da estilização do footer*/

/*estilizacão de perfil*/
.p-ma{
    padding-top: 10px ;
}
.p-a{
    margin-left: 10px;
}
.icones {
    font-size: 25px;
}

.circular {
    border-radius: 120px;
    margin-bottom: 10px;
}

.container-centro {
    max-width: 70vw;
    border-radius: 30px;
}

.container-centro>.pa {
    padding-top: 5px;
}

.name {
    display: flex;
    align-items: center;

}
.ll1{
    display: flex;
    flex-direction: column;
}
.temp {
    animation: changeBackgroundColor 10s infinite;
}

.barra {
    height: 30px;
}
.p-na{
    margin-top: 6px;
    margin-left: 15px;
}

/*fim da estilização de perfil*/


/* estilização da pagina confirmar compra */
.mh {
    max-height: 40px;
}

.ft {
    font-size: 20px;
}

.cimg {
    max-width: 100px;
    max-height: 100px;
}

/* fim da pagina confirmar compra  */


/* estilizacao da pagina avaliar  */
:root {
    --amarelo: #fc0;
    --cinza: #cccc;

}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.opcao.fa:before {
    content: '\f005';
    color: var(--amarelo);
}

.estrelas input[type=radio]:checked~label i.fa:before {
    color: var(--cinza);
}
.estrela-preenchidas{
    color: var(--amarelo);
}
.estrela-vazia{
    color: var(--cinza);
}
.av-nome{
    display: flex;
    justify-content: start;
    align-items: center;
}
.r-av{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* fim da pagina avaliar  */


/*estilização dos botões e inputs*/
.senha {
    display: flex;
    flex-direction: column;

}

.ts {
    margin-top: 30px;
}

input[type=password] {
    width: 200px;
    border-radius: 30px;
    margin-top: 5px;
    border: none;
}

input[type=email] {
    width: 200px;
    border-radius: 30px;
    border: none;
}

input[type=submit] {
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
}

/*fim das estilizações de botões e input*/
/*efeito rgb usado em todas paginas */
@keyframes changeBackgroundColor {
    0% {
        background-color: #42678a;
    }

    25% {
        background-color: #3d7a99;
    }

    50% {
        background-color: #42678a;
    }

    75% {
        background-color: #3d7a99;
    }

    100% {
        background-color: #42678a;
    }
}